@page "/counter"

<h1>Counter</h1>

<CascadingValue Value="state">
    <CounterDisplay CurrentCount="state.CurrentCount" />
</CascadingValue>

@code{
    private CounterState state;

    protected override void OnInit()
    {
        state = new CounterState();

        //When counter changes, trigger the component's StateHasChanged method to notify it to rerender
        state.OnCountChanged += StateHasChanged;
    }
}
