@page "/counter"

<h1>Counter</h1>

<CounterDisplay CurrentCount="currentCount" OnIncrement="OnIncrement" OnReset="OnReset"/>

@code{
    private int currentCount = 0;
    private void OnIncrement()
    {
        currentCount++;
    }

    private void OnReset()
    {
        currentCount = 0;
    }
}