<p>Current count: @CurrentCount</p>

<CounterIncrementButton OnIncrement="@OnIncrement" />
<CounterResetButton OnReset="@OnReset" />

@code {
    [Parameter] protected int CurrentCount { get; set; }
    [Parameter] protected EventCallback<UIMouseEventArgs> OnIncrement { get; set; }
    [Parameter] protected EventCallback<UIMouseEventArgs> OnReset { get; set; }
}