
<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="@State.IncrementCounter">Click me</button>
<CounterReset />

@code {
    [Parameter] protected int CurrentCount { get; set; }
    [CascadingParameter] protected CounterState State { get; set; }
}